<button
  [disabled]="!allowNewServer"
  (click)="onChangeStatus()"
  class="btn btn-primary"
>
  Add Server
</button>
<!-- <p [innerText]="!allowNewServer"></p> -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<!-- <p>{{ serverName }}</p> -->
<p *ngIf="isServerCreated; else noServer">{{ serverStatus }}</p>
<ng-template #noServer>
  <p>No Server Created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
